<div class="container-fluid bg-info footer py-2">
    <div class="row">
        <div class="col-md-4 mb-4">
            <h1 class="text-white heading h6">About Us</h1>
            <p class="content text-white px-2">
                Purneashop.com is a Shopping Site that focus mainly to the purnea areas. If you are from Purnea, you can
                purchase all grocery items at cheepest price with fast delivery (within some hours).
            </p>
            <p class="content text-white px-2">
                Stay Home Stay Safe
            </p>
        </div>

        <div class="col-md-4 mb-4">
            <h1 class="text-white heading h6">Category</h1>
            <ul class="list-group px-0">
                {{#each catList as |cat|}}
                <li class="list-group-item bg-none m-0 py-0 px-2">
                    <a href="/category/{{this._id}}" class="mb-1">
                        <span class="content text-white"><i class="fa fa-angle-down"></i> {{this.category_name}}</span>
                    </a>
                </li>
                {{/each}}

            </ul>
        </div>

        <div class="col-md-4 mb-2">
            <h1 class="text-white heading h6">Contact Info</h1>
            <ul class="list-group px-0">
                <li class="list-group-item bg-none m-0 py-1 px-1">
                    <div class="h6 sub-heading text-white"> <i class="fa fa-map-marker"></i> Address</div>
                    <div class="content text-white m-2">
                        Girja Chauk Purnea, 854301, Bihar
                    </div>
                </li>
                <li class="list-group-item bg-none m-0 py-1 px-1">
                    <div class="h6 sub-heading text-white"> <i class="fa fa-phone"></i> Phone</div>
                    <div class="content text-white m-2">
                        <a href="tel:9117162463">+91-9117162463</a>
                    </div>
                </li>
                <li class="list-group-item bg-none m-0 py-1 px-1">
                    <div class="h6 sub-heading text-white"> <i class="fa fa-whatsapp"></i> Whats App</div>
                    <div class="content text-white m-2">
                        <a href="whatsapp://send?abid=9472847179&text=Hello%2C%20www.purneashop.com!">+91-9472847179</a>
                    </div>
                </li>
                <li class="list-group-item bg-none m-0 py-1 px-1">
                    <div class="h6 sub-heading text-white"> <i class="fa fa-envelope"></i> Email</div>
                    <div class="content text-white m-2">
                        <a href="mailto:purneashop@gmail.com">purneashop@gmail.com</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
        <div class="col-md-6">
            <div class="social-icon">
                <a href="http://facebook.com/purneashop" target="_blank" class="btn btn-light"> <i class="fa fa-facebook"></i> </a>
                <a href="" class="btn btn-light"> <i class="fa fa-twitter"></i> </a>
                <a href="" class="btn btn-light"> <i class="fa fa-youtube"></i> </a>
            </div>
        </div>
        <div class="col-md-6">
            <p class="content text-light my-2">@ PurneaShop.com 2020 All Rights Reserved</p>
        </div>
    </div>

    <!-- child of the body tag -->
    <span id="top-link-block" class="hidden bg-danger" >
        <a href="#top" class="well well-sm" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
            <i class="fa fa-angle-up px-2 py-1 "></i> 
        </a>
    </span><!-- /top-link-block -->

    <span id="whatsapp-icon" class="hidden bg-danger heartbeat">
        <a href="https://api.whatsapp.com/send?phone=+919472847479&text=Hi,%20I%20I%20am%20from%20your%20website%20">
            <i class="fa fa-whatsapp px-3 py-3"></i> 
        </a>
    </span><!-- /top-link-block -->
</div>

<script>
    // Only enable if the document has a long scroll bar
    // Note the window height + offset
    if (($(window).height() + 100) < $(document).height()) {
        $('#top-link-block').removeClass('hidden').affix({
            // how far to scroll down before link "slides" into view
            offset: { top: 100 }
        });
    }
</script>