<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/images/logo/favicon.png" />
    <meta name="description" content="Shopping Site in Purnea, Onine Grocery in Purnea, purneahop.com, purniashop.com">
    <meta name="keywords"
        content="shopping site in purnea, purneashop.com, purniashop.com, best online shopping in purnea, no 1 shopping site in purnea, Online grocery in purnea">
    <meta name="author" content="Purnea Shop">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Purnea Shop : purneaShop.com || Best & First Online Grocery in Purnia City. </title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    {{!-- Custom CSS --}}
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/frontend-style.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!--Jquery with Ajax-->
    <script src="https://vijayphysics.com/assets/js/jquery-3.4.1.min.js"></script>

    <!-- Font Awesome JS -->
    {{!-- <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script> --}}

    {{!--  --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {{!-- Sweet Alert --}}
    <script src="/javascripts/sweetalert.js"></script>
    <link rel="stylesheet" href="/stylesheets/sweetalert.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173225491-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-173225491-1');
    </script>

</head>

<body>
    {{!-- Page Loader --}}
    <div id="loading">
        <img id="loading-image" src="/images/loader/loader.gif" alt="Loading..." />
    </div>
    <div class="wrapper">
        <!-- Sidebar  -->
        {{> website-sidebar}}

        <!-- Page Content  -->
        <div id="content">

            {{!-- Header --}}
            {{> website-header}}



            {{!-- Body Part --}}
            {{{body}}}


            {{!-- Footer --}}
            {{> website-footer}}

        </div>
    </div>

    <div class="overlay"></div>

    <!-- jQuery CDN - Slim version (=without AJAX) 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    -->
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>

     <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5f17ec537258dc118beeb456/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>

</html>