<div class="container bg-white">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h2 class="text-danger mt-5">Website is under maintenance mode Please Visit After 5:00 pm</h2>
                <h2 class="text-danger mt-5">वेबसाइट अभी Maintenance मोड मे है, प्लीज़ आप 5:00 pm के बाद कोशिश करें|</h2>

                <button class="btn btn-info">Sorry for That !! Team purneashop.com</button>
            </div>
        </div>
    </div>
</div>