<div class="container-fluid bg-light mb-5">
    <div class="row mt-2">
        <div class="col-md-12 my-2">
            <div class="row">
                {{#if success}}
                <div class="alert alert-success col-md-6 m-auto">
                    {{success}}
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white font-weight-bold">
                    <li class="breadcrumb-item text-info"><a href="/">Home</a></li>
                    <li class="breadcrumb-item text-danger active"><a>Privacy & Policy</a></li>
                </ol>
            </nav>
        </div>
    </div>


    <div class="row terms-condition px-2">
        <div class="col-md-12">
            <h6 class="heading">Privacy and protection of personal data</h6>

            <p class="content">The details you give us are essential for the processing and delivery of your orders, for billing and for the establishment of warranty contracts, therefore failure to provide these details will result in the cancellation of your order. By registering on the Site, you agree to provide us with sincere and true information as it concerns you. Communicating false information is contrary to the present general Terms and Conditions.</p>
            
            <p class="content">you according to the items that you selected when you previously visited the site. Cookies do not contain any confidential information about you..</p>
            
        </div>
    </div>


</div>