<div class="container-fluid bg-light mb-5">
    <div class="row mt-2">
        <div class="col-md-12 my-2">
            <div class="row">
                {{#if success}}
                <div class="alert alert-success col-md-6 m-auto">
                    {{success}}
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white font-weight-bold">
                    <li class="breadcrumb-item text-info"><a href="/">Home</a></li>
                    <li class="breadcrumb-item text-danger active"><a>Terms & Conditions</a></li>
                </ol>
            </nav>
        </div>
    </div>


    <div class="row terms-condition px-2">
        <div class="col-md-12">
            <h6 class="heading">Changes to the Terms of Service and the APP</h6>

            <p class="content">Purnea Shop is a work in progress, and as such things may change, be added or be taken
                away. We reserve the
                right
                to update the APP and these Terms of Service from time to time, at our discretion and without any
                notice.</p>
            <p class="content">
                It
                is solely your responsibility to keep up-to-date with the latest Terms and Conditions by checking back
                regularly meanwhile we also send you mail if changes has occurred.
            </p>
            <p class="content">
                Your continued use of the APP following
                the publishing of updated Terms of Service will be taken to mean that you have read and agree to the
                changes.
            </p>

            <h6 class="heading">Access to the APP</h6>

            <p class="content">
                We work hard to ensure the APP is always up and available, but we can't guarantee that the APP will not
                have downtime for any reason. We reserve the right to close the APP for short periods of time for
                general
                maintenance, but will attempt to keep this to a minimum.
            </p>
            <p class="content">
                We will not be liable if for any reason all or any
                part of the APP is unavailable at any time, for any length of time.
            </p>

            <p class="content">
                Parts of the APP require you to input a password to access certain features. This is to be able to give
                you
                details relevant to your order whilst still keeping them private to you. To do this, as part of our
                security
                procedures, we require you to register an account with Purnea Shop by entering your email and choosing a
                secure
                password.
            </p>
            <p class="content">
                We highly recommend that you choose a strong password that is hard for others to guess, and you
                log out from your account at the end of every session. There is a password reset procedure in case you
                forget your password.
            </p>

            <p class="content">
                You must treat your account log-in information as confidential, not disclosing it to
                any third party and only using Purnea Shop in person. If you think there may have been any breach of
                security
                then it is your responsibility to notify us immediately and if log-in is possible, to change your
                password.
            </p>

            <p class="content">
                It is a condition of your use of the APP that all the information you provide on the APP is correct,
                current
                and complete. We reserve the right to disable any user account in our sole discretion, at any time for
                any
                or no reason, including if, in our opinion, you have failed to comply with any provision of these Terms
                of
                Service.
            </p>

            <p class="content">
                We do not guarantee that the APP or any content provided on the APP is error free. We manage your
                personal
                data according to our Privacy Policy.
            </p>



            <h6 class="heading">Product information</h6>

            <p class="content">
                Purnea Shop takes great care when putting product information, descriptions and images on-line but will
                not
                be
                held responsible for any mistakes or omissions to any information given.
            </p>



            <h6 class="heading">Prices</h6>

            <p class="content">
                The prices indicated on Purnea Shop are shown in Indian rupees and do not include delivery. The delivery
                costs
                are clearly shown and invoiced at the end of the order in addition to the price of the products.
            </p>
            <p class="content">
                We reserve
                the right to modify our prices at any moment but this will be indicated to you on the order at the time
                the
                order is placed.
            </p>
            <p class="content">
                If an obviously incorrect price appears on our APP and is not corrected on your total at
                the time of order completion, for whatever reason (human error, technical error etc.), your order will
                be
                cancelled and the payment refunded to you, even if it has been initially validated.
            </p>



            <h6 class="heading">Availability</h6>
            <p class="content">
                We will always endeavour to fulfil your order once completed and paid for. If a product should become
                unavailable after your order has been confirmed and paid for, we will refund the price you paid for the
                product within 30 days following the date of payment.
            </p>
            <p class="content">
                If your order includes products that are temporarily
                unavailable, we will send the available products out first and will follow with the outstanding items
                once
                they are available again. We will refund the shipping fees for the rest of the order. If relevant, we
                will
                offer you a replacement for an unavailable product, a product of equal price and quality.
            </p>

            <p class="content">
                If you accept the
                replacement, and then wish to return it to us in the conditions outlined under Right of Return, the
                return
                postage will be covered by us. If you choose to decline this offer, and the original product is
                permanently
                unavailable, we will reimburse the price of the unavailable product.
            </p>



            <h6 class="heading">Delivery</h6>

            <p class="content">
                Your order will be delivered to the address you indicated when your order was placed.
            </p>

            <h6 class="heading">Right of Return</h6>
            <p class="content">Purnea Shop allows Return Policy, but some product can be return on phone call.</p>

            <h6 class="heading">Feedback & Comments</h6>

            <p class="content">
                Any opinions left on the APP by Purnea Shop customers are screened and moderated by Purnea Shop. If the comments
                infringe on the law or are inappropriate (abusive publicity, defamation, insults, out of context
                commentary…), Purnea Shop reserves the right to refuse or modify it.
            </p>
        </div>
    </div>


</div>