<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-5 mx-auto py-3 px-5">

            <div class="shadow-sm bordered m-0 bg-white" id="mobileNumberForm">
                <h5 class="text-info text-center p-2 m-0"> <i class="fa fa-lock"></i> Reset Password ! </h5>
                <form id="OTPForm" class="p-3">

                    <div class="form-group">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}" class="form-control">

                        <label for="">Registered Mobile Number</label>
                        <input type="text" class="form-control" name="user_mobile" placeholder="Enter Mobile No">
                        <span class="error" id="user_mobile_error"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-info">Send OTP
                            <img id="OTPLoader" style="display:none" src="/images/loader/ajax-loader.gif" alt="">
                        </button>

                    </div>
                </form>
            </div>

            <div class="shadow-sm bordered m-0 bg-white" id="verifyOtpForm" style="display: none;">
                <h5 class="text-info text-center p-2 m-0"> <i class="fa fa-unlock"></i> OTP Verifications ! </h5>
                <div class="mx-1 py-1" id="otp_success"></div>
                <form id="VerifyForm" class="p-3">
                    <div class="form-group">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}" class="form-control">

                        <label for="">Enter OTP</label>
                        <input type="text" class="form-control" name="otp" placeholder="Enter OTP">
                        <span class="error" id="otp_error"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-info">Verify OTP
                            <img id="VefiryOTPLoader" style="display:none" src="/images/loader/ajax-loader.gif" alt="">
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $("body").on("submit", "#OTPForm", function (e) {
        e.preventDefault();
        $.ajax({
            url: '/users/checkUserIsRegistered',
            type: 'POST',
            data: $(this).serialize(),
            dataType: 'json',
            beforeSend: function () {
                $("#OTPLoader").show();
            },
            complete: function () {
                $("#OTPLoader").hide();
            },
            success: function (response) {
                if (response["status"] == 0) {
                    //set error message 
                    $("#user_mobile_error").html(response.message);
                    $("#otp_success").html('');
                } else {
                    $("#user_mobile_error").html('');
                    $("#mobileNumberForm").hide();
                    $("#verifyOtpForm").show();
                    $("#otp_success").html(response.success).addClass("alert alert-success");
                }
            }
        });
    });

    $("body").on("submit", "#VerifyForm", function (e) {
        e.preventDefault();
        $.ajax({
            url: '/users/verifyForgotOtp',
            type: 'POST',
            data: $(this).serialize(),
            dataType: 'json',
            beforeSend: function () {
                $("#verifyOTPLoader").show();
            },
            complete: function () {
                $("#verifyOTPLoader").hide();
            },
            success: function (response) {
                if (response["status"] == 0) {
                    //set error message 
                    $("#otp_error").html(response.message);
                    $("#otp_success").html('').removeClass('alert alert-success');
                } else {
                    $("#otp_error").html('');
                    $("#otp_success").html(response.message).addClass("alert alert-success");
                    window.location = "/users/createPasswordForm";
                }
            }
        });
    });

</script>